@charset "ISO-8859-1";

.admin {
	width: 100vw;
	display:grid;
	padding: 5rem;

	grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
	grid-gap: 2rem;
	
}

.admin-box {
	padding: var(--padding-sm);
	border: none;
	outline: none;
	border-radius: var(--border-radius);
	box-shadow: 0 0 .5rem rgba(35,90,180, .4);
}

