@charset "ISO-8859-1";

/* FOOTER */
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Ephesis&display=swap');
.footer {
	padding: var(--padding-sm);
	background-color: var(--primary-clr);

	color: white;
	display: grid;
	grid-gap: 2rem;
	justify-content: center

}
h2 {
	font-size: 4rem;
	justify-self: center;
	align-self: start;
	text-transform: uppercase;
	font-family: 'Birthstone', cursive;
}

.footer_list {
	list-style: none;
	display: flex;
	justify-content: center;
}

.footer_item {
	transition: background-color 300ms, transform 300ms, color 300ms, border 500ms;
}

.footer_item:hover{
	transform: translateY(3px);
}

.footer_link:link,
.footer_link:visited{
	text-decoration: none;
	font-size: 3rem;
	padding: .5rem 1.5rem;
	border-radius: 5px;
	letter-spacing: .2rem;
	color: var(--white-clr);
	text-transform: uppercase;
}

.footer_link:hover {
	background-color: var(--light-clr);
	color: var(--dark-clr);
}
.copyright {
	justify-self: center;
}