@charset "ISO-8859-1";

/* HEADER */
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Ephesis&display=swap');

.header {

	height: 85vh;

	background-color: rgba(0,0,0,.3);
	background-image: url(../img/cover.jpg);
	background-size: cover;
	background-position: center;
	background-blend-mode: hard-light;


	grid-row: 1 / span 1;
	grid-column: 1 / -1;

	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;

}


.header_title{
	font-size: 6rem;
	text-transform: uppercase;
	color: var(--white-clr);

	position: relative;
	font-family: 'Birthstone', cursive;
	letter-spacing: .5rem;
	font-weight: 700;


}

.header_text{
	font-size: 2rem;
	color: var(--white-clr);
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .5rem;
	font-family: 'Birthstone', cursive;
	margin-bottom: 2rem;
}

@media only screen and (max-width: 600px){
	.header_title{
		text-align: center;
		font-size: 6rem;

	}
}

