@charset "ISO-8859-1";

.navbar {
	min-height: 15vh;
	background-color: var(--primary-clr);
	display: grid;
	position: relative;
}



.navbar_list {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(12,minmax(min-content,20rem))  ;
	justify-content: center;
	justify-items: center;
	align-items: center;

}

.logo {
	grid-column: 2/ span 1;
}

.navbar_logo {
	text-decoration: none;
	font-size: 3rem;
	color: white;
	position: relative;
	text-align: center;
	padding: 1rem;
}

.navbar_link {
	outline: none;
	border-radius: var(--border-radius-lg);
	text-decoration: none;
	padding: .5rem 1rem;
	color: var(--white-clr);
	letter-spacing: .2rem;
	align-self: center;
	transition: transform 500ms;
	font-size: 1.6rem;
}

.navbar_link:hover {
	color: var(--light-clr);
}

._produce {
		grid-column: 9 / span 1;
}

._logout, ._login {
	grid-column: 10 / span 1;
}
.navbar_link:link,
.navbar_link:active{
	color: var(--white-clr);
}
.cart{
		grid-column: 11 / span 1;
}
.shopping_cart {

	position: relative;
	border: 2px solid var(--white-clr);
	border-radius: var(--border-radius-lg);
	text-decoration: none;
	font-size: 1.2rem;
	padding: 1rem 3rem;
	color: var(--white-clr);
	letter-spacing: .2rem;
	align-self: center;
	transition: background-color 500ms, color 500ms;
}
.font{
	font-size: 1.6rem;
}
.shopping_cart:hover {
	background-color: var(--secondary-clr);
	color: #143404;
}



@media only screen and (max-width: 600px){
	.navbar {
		display: flex;
		justify-content: center;
		display: none;
	}
	.navbar_list {
		display: flex;
		flex-direction: column;
	}
	.logo {
	display: none;
	}
	.navbar_item {
		list-style: none;
		padding: 2rem 11rem;
		border: none;
		width: 100%;
		margin:auto;
		text-align: center;
		margin-bottom: 1rem;
		box-shadow: 0 0 .5rem var(--secondary-clr);
		transition: background-color 400ms;
	}
	.navbar_link {
	text-decoration: none;
	font-size: 1.6rem;
	padding: .5rem 1rem;
	color: var(--white-clr);
	letter-spacing: .2rem;
	}

}

