@charset "ISO-8859-1";


.shopping_cart_page{
	padding: 2rem;
	display: grid;
	grid-template-columns: minmax(min-content, 1fr) repeat(5, minmax(min-content,20rem)) minmax(min-content, 1fr) ;
	grid-gap: 1rem;
	margin-bottom: 50vh;
}

.shopping_cart_part1 {
	grid-column: 2 / span 5;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
}
.shopping_cart_part1 > h3 {
	font-size: 1.6rem;
}

.shopping_cart_part1 > a {
	text-decoration: none;
	font-size: 1.2rem;
}

.shopping_cart_part1 > a:link,
.shopping_cart_part1 > a:visited {
	color: var(--primary-clr);
}

.shopping_cart_part2 {
	grid-column: 2 / span 5;
	display:grid;
	grid-template-columns: repeat(4, minmax(min-content,25rem));
	

	box-shadow: var(--box-shadow);
	padding: 1rem;
}
.shopping_cart_part2 > div {
	text-align: center;
}

.shopping_cart_part2 > figure > img {
	width: 50%;
	object-fit: cover;
	display: block;
	background-size: cover;
	background-position: center;
}
.shopping_cart_part2 > div {
	justify-self: end;
}
.shopping_cart_part2 > h3 {
	justify-self: center;
}
.shopping_cart_part2 > p {
	justify-self: end;
}
.shopping_cart_part3 {
	grid-column: 6 / span 1;
	justify-self: end;
}

.checkout_btn {
	grid-column:  6 / span 1;
	background-color: var(--dark-clr);
	transition: background-color 300ms;
	border: 2px solid var(--white-clr);
}
.checkout_btn:hover{
	background-color: var(--light-clr);
	color: var(--dark-clr);
}

.quantity {
	border: none;
	outline: none;
	padding: .3rem;
	border: 2px solid var(--light-clr);
	border-radius: var(--border-radius-sm);
	cursor: pointer;
	transition: background-color 500ms;
}
.quantity:hover{
	background-color: var(--dark-clr);
	color: var(--light-clr);
}

.checkout_error {
	color: red;
}